#mainback {
	width:80%;
	margin: 0 auto;
	margin-top:0px;
	padding: 0px;
	border-radius: 10px;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	text-align:center;
	background-color: #231f20;
}


img.banner  {
	align-items: center
	text-align:center;
	display: block;
	border-radius: 10px;
	width:80%;
	padding:10px;
	margin: 0 auto;
	background-color: #000;
}

#mainback h1 {
}


img.plat {
	width:350px;
	max-height:300px;
	max-width:350px;
}

img.gold {
	width:300px;
	max-height:225px;
	max-width:300px;

}

img.silv {
	width:225px;
	max-height:175px;
	max-width:225px;

}

img.bronze {
	width:175px;
	max-height:125px;
	max-width:175px;

}

